DEBUG=true
ENVIRONMENT=dev

GOOGLE_CLOUD_PROJECT=<your-gcp-project-id>
GOOGLE_APPLICATION_CREDENTIALS=<path-to-service-account-key.json>

# Google Cloud Services
FIRESTORE_DATABASE=<your-firestore-database-name>
CLOUD_STORAGE_BUCKET=<your-cloud-storage-bucket-name>

# Vertex AI Configuration
VERTEX_AI_REGION=<your-vertex-ai-region>
GEMINI_MODEL=gemini-2.5-flash
GOOGLE_GENAI_USE_VERTEXAI=1

# Vertex Backend Config
GOOGLE_CLOUD_PROJECT=<your-gcp-project-id>
GOOGLE_CLOUD_LOCATION=<your-gcp-location>
GOOGLE_CLOUD_STAGING_BUCKET=<your-gcp-staging-bucket-name>

DATA_GOV_API_KEY=<your-data-gov-api-key>